<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="common.css">
<style>
      .global_spinner {
        z-index: 999999999;
        position: fixed;
        top: 45px;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('https://t1.daumcdn.net/gift/common/global-spinner.gif');
        background-size: 80px 80px;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.5;
      }
      .pc .global_spinner {
        top: 0;
      }
    </style>
</head>
<body>
	<div class="receive_giftbox">
		<div>
			<h2 class="tit_receive">
				사용가능한 선물이<br>3개 남아있어요.
				<!---->
				<!---->
				<!---->
			</h2>
			<app-inbox-filter-tab _nghost-hxi-c246="">
			<ul _ngcontent-hxi-c246="" role="tablist" class="tab_receive">
				<li _ngcontent-hxi-c246="" role="presentation" class=""><a
					_ngcontent-hxi-c246="" role="tab" cutiara="" class="link_tab"
					data-tiara-layer="available tab available" data-tiara-copy="사용가능탭"
					href="/giftbox/inbox?couponStatus=OPEN"> 사용가능 3 </a></li>
				<li _ngcontent-hxi-c246="" role="presentation" class="on"><a
					_ngcontent-hxi-c246="" role="tab" cutiara="" class="link_tab"
					data-tiara-layer="unavailable tab unavailable"
					data-tiara-copy="사용완료탭" href="/giftbox/inbox?couponStatus=CLOSE">
						사용완료 24 </a></li>
				<!---->
			</ul>
			<!----><!----><!----></app-inbox-filter-tab>
		</div>
		<app-inbox-infinite-gift _nghost-hxi-c249="">
		<cu-infinite-scroll _ngcontent-hxi-c249="">
		<div infinitescroll="">
			<ul _ngcontent-hxi-c249="" class="list_receive list_use">
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="부드러운 생크림 카스텔라 + 슈크림 가득 바움쿠헨 + 아메리카노 Tall 2잔">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/1311977261"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20210521111247_f2e9927886df461eb41739f51a6e362a.jpg"
								alt="부드러운 생크림 카스텔라 + 슈크림 가득 바움쿠헨 + 아메리카노 Tall 2잔">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">스타벅스</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">부드러운 생크림 카스텔라 + 슈크림 가득 바움쿠헨 + 아메리카노
								Tall 2잔 </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>수민이
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2021.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오후 09:04</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="황금올리브치킨+콜라 1.25L">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/1311855800"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20210611140225_86aeed03170547a4a60989665f706522.jpg"
								alt="황금올리브치킨+콜라 1.25L">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">BBQ</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">황금올리브치킨+콜라 1.25L </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_finish badge_state">사용완료</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>작은이모
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2021.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오후 07:23</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="굽네 고추 바사삭+콜라1.25L">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/1311175167"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200404073938_57f0a3a55d9e44d6b07f7d11aa7cbf4e"
								alt="굽네 고추 바사삭+콜라1.25L">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">굽네치킨</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">굽네 고추 바사삭+콜라1.25L </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>김햇반
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2021.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 11:33</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="블랙알리오+콜라 1.25L">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/1310930097"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200617131136_042dc309543c4c72a970d7b45f929e5c.jpg"
								alt="블랙알리오+콜라 1.25L">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">푸라닭</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">블랙알리오+콜라 1.25L </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>기억이없어용
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2021.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 09:13</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="뿌링클+콜라1.25L">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/1310828666"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200729142538_eee269fd49404006bad03ff445a9afec.jpg"
								alt="뿌링클+콜라1.25L">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">BHC</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">뿌링클+콜라1.25L </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>갓영수
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2021.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 07:50</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="부드러운 생크림 카스텔라 + 슈크림 가득 바움쿠헨 + 아메리카노 Tall 2잔">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/1310799543"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20210521111247_f2e9927886df461eb41739f51a6e362a.jpg"
								alt="부드러운 생크림 카스텔라 + 슈크림 가득 바움쿠헨 + 아메리카노 Tall 2잔">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">스타벅스</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">부드러운 생크림 카스텔라 + 슈크림 가득 바움쿠헨 + 아메리카노
								Tall 2잔 </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>민주누나
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2021.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 06:33</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="고추바사삭+찹쌀 치즈볼+콜라1.25L">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/1310790702"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200306183502_5b134c9dd8d847dfb3a89c6649a880d8"
								alt="고추바사삭+찹쌀 치즈볼+콜라1.25L">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">굽네치킨</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">고추바사삭+찹쌀 치즈볼+콜라1.25L </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_finish badge_state">사용완료</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>하지
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2021.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 05:11</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="롯데)가나초콜릿마일드1000">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/1235542465"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20210215141616_a1d4260e1b6e4674840db787f9c0ad99.jpg"
								alt="롯데)가나초콜릿마일드1000">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">GS25</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">롯데)가나초콜릿마일드1000 </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_finish badge_state">사용완료</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>나
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2021.05.10<span
							_ngcontent-hxi-c249="" class="time_receive">오후 04:34</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="아몬드빼빼로1500">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/1032107022"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200404070824_3d360cd9fe3c43a396b15e0ccd4be9c6"
								alt="아몬드빼빼로1500">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">CU</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">아몬드빼빼로1500 </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>나
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2020.11.11<span
							_ngcontent-hxi-c249="" class="time_receive">오후 03:55</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="(순살SET) 후라이드+양념치킨+콜라500ml">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/926670978"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200404053113_2864610033eb4298a3c969823d5d7978"
								alt="(순살SET) 후라이드+양념치킨+콜라500ml">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">호식이두마리치킨</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">(순살SET) 후라이드+양념치킨+콜라500ml </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_finish badge_state">사용완료</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>번복의 아이콘
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2020.07.22<span
							_ngcontent-hxi-c249="" class="time_receive">오후 10:57</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="망고 빙수 + 뉴욕 치즈 피스 + 아메리카노 Regular">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/925750175"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200515141353_8c150d582fd8442da83c2218056be7fa.jpg"
								alt="망고 빙수 + 뉴욕 치즈 피스 + 아메리카노 Regular">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">투썸플레이스</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">망고 빙수 + 뉴욕 치즈 피스 + 아메리카노 Regular </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>작은이모
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2020.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오후 10:31</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="허쉬 초콜릿칩 쿠키 480g(12g*40개입)">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/925132443"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200403182910_e91c95da5dc9447cae02e604847eef83"
								alt="허쉬 초콜릿칩 쿠키 480g(12g*40개입)">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">허쉬</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">허쉬 초콜릿칩 쿠키 480g(12g*40개입) </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_finish badge_state">사용완료</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>기억이없어용
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2020.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 09:26</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="굽네 고추 바사삭+콜라1.25L">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/925131498"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200404073938_57f0a3a55d9e44d6b07f7d11aa7cbf4e"
								alt="굽네 고추 바사삭+콜라1.25L">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">굽네치킨</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">굽네 고추 바사삭+콜라1.25L </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>갓영수
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2020.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 09:25</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="뿌링클+콜라1.25L">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/925128668"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200410140951_57f83c8a2e18403599c36b1519d9dbae.jpg"
								alt="뿌링클+콜라1.25L">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">BHC</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">뿌링클+콜라1.25L </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>김햇반
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2020.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 09:22</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="황금올리브반반+크림치즈볼">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/925057806"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200404043719_655b6881c91144c588adb8a6d264e085"
								alt="황금올리브반반+크림치즈볼">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">BBQ</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">황금올리브반반+크림치즈볼 </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>ㅎr수혀늬zl존z큐트oO
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2020.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 08:11</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="뿌링클+콜라1.25L">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/925026124"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="https://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200410140951_57f83c8a2e18403599c36b1519d9dbae.jpg"
								alt="뿌링클+콜라1.25L">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">BHC</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">뿌링클+콜라1.25L </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_finish badge_state">사용완료</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>민주누나
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2020.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 06:30</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="아이스 카페아메리카노 Tall">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/703614249"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="http://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=http%3A%2F%2Fmud-kage.kakaocdn.net%2Fdn%2F%2Fbn9Ytc%2FbIctV4yj61c%2FTqV554YNuYzoqxgQlRPTZ0%2Fimg.jpg"
								alt="아이스 카페아메리카노 Tall">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">스타벅스</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">아이스 카페아메리카노 Tall </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>번복의 아이콘
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2019.10.18<span
							_ngcontent-hxi-c249="" class="time_receive">오후 08:08</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="골라먹는 와츄원">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/648557196"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="http://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=http%3A%2F%2Fmud-kage.kakaocdn.net%2Fdn%2F%2F5Yu2w%2FbIcr6QWltj9%2FtAueSIfHDk0sQUUvPwnk2k%2Fimg.jpg"
								alt="골라먹는 와츄원">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">배스킨라빈스</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">골라먹는 와츄원 </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_finish badge_state">사용완료</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>김햇반
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2019.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오후 03:12</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="스노윙치킨(치즈)반쇼킹핫반+콜라+감자">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/648550659"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="http://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=http%3A%2F%2Fmud-kage.kakaocdn.net%2Fdn%2F%2Fpm9bc%2FbIcmDVhEptT%2FKvhUgZHphQcnOSfiBJyRnk%2Fimg.jpg"
								alt="스노윙치킨(치즈)반쇼킹핫반+콜라+감자">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">네네치킨</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">스노윙치킨(치즈)반쇼킹핫반+콜라+감자 </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>하지랄
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2019.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오후 02:56</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="Happy Birthday Set(블루베리 쿠키 치즈 케이크 + 아메리카노 Tall 2잔)">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/648406813"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="http://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=http%3A%2F%2Fmud-kage.kakaocdn.net%2Fdn%2F%2FYCJPx%2FbIctV3MXbuD%2FFDsY1kwxF3ZkK12xv1W5V1%2Fimg.jpg"
								alt="Happy Birthday Set(블루베리 쿠키 치즈 케이크 + 아메리카노 Tall 2잔)">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">스타벅스</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">Happy Birthday Set(블루베리 쿠키 치즈 케이크 +
								아메리카노 Tall 2잔) </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>작은이모
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2019.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 08:36</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="사랑을 전하는 가나슈케이크">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/648294850"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="http://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=http%3A%2F%2Fmud-kage.kakaocdn.net%2Fdn%2F%2FYFKVk%2FbIco6HHN9QI%2FIK0RxmBAQmPvkBTN9OKhl1%2Fimg.jpg"
								alt="사랑을 전하는 가나슈케이크">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">뚜레쥬르</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">사랑을 전하는 가나슈케이크 </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_cancel badge_state">취소환불</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>큰이모
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2019.07.20<span
							_ngcontent-hxi-c249="" class="time_receive">오후 09:35</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="[골든위크] 스니커즈 초코바 21.5gX24개 (1박스)">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/516773423"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="http://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=http%3A%2F%2Fmud-kage.kakaocdn.net%2Fdn%2F%2FpJFvH%2FbIchiu3Mxb3%2FJwZNpHXLFvdC5dmt8DWWV0%2Fimg.jpg"
								alt="[골든위크] 스니커즈 초코바 21.5gX24개 (1박스)">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">스니커즈</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">[골든위크] 스니커즈 초코바 21.5gX24개 (1박스) </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_finish badge_state">사용완료</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>김햇반
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2018.11.27<span
							_ngcontent-hxi-c249="" class="time_receive">오후 09:16</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="달콤한 스타">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/448740197"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="http://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=http%3A%2F%2Fmud-kage.kakaocdn.net%2Fdn%2F%2FkTXVa%2FbIcfKDusmh4%2FDQcF8htTkkckIJL6fc5KT0%2Fimg.jpg"
								alt="달콤한 스타">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">배스킨라빈스</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">달콤한 스타 </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_finish badge_state">사용완료</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>번복의 아이콘
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2018.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 11:17</span>
					</div></li>
				<li _ngcontent-hxi-c249=""><gl-link _ngcontent-hxi-c249=""
						cutiara="" _nghost-hxi-c61="" data-tiara-layer="unavailable item"
						data-tiara-copy="달콤한 디저트 세트 (7 레이어 가나슈 케이크 + 아메리카노 Tall 1잔)">
					<a _ngcontent-hxi-c61="" class="link_receive"
						href="/giftbox/inbox/detail/448630584"><div
							_ngcontent-hxi-c249="" style="padding-top: 100%;">
							<img _ngcontent-hxi-c249="" class="thumb_img"
								style="position: absolute; top: 0px; left: 0px;"
								src="http://img1.kakaocdn.net/thumb/C600x600.fwebp.q82/?fname=http%3A%2F%2Fmud-kage.kakaocdn.net%2Fdn%2F%2FbVwLRc%2FbIclanNdXDw%2F9FtCVFMGYvpdUC1WITs1ZK%2Fimg.jpg"
								alt="달콤한 디저트 세트 (7 레이어 가나슈 케이크 + 아메리카노 Tall 1잔)">
							<div _ngcontent-hxi-c249="" class="thumb_receive"></div>
						</div>
						<span _ngcontent-hxi-c249=""><span _ngcontent-hxi-c249=""
							class="screen_out">브랜드명</span><span _ngcontent-hxi-c249=""
							class="txt_store">스타벅스</span><span _ngcontent-hxi-c249=""
							class="screen_out">제품명</span><strong _ngcontent-hxi-c249=""
							class="tit_product">달콤한 디저트 세트 (7 레이어 가나슈 케이크 + 아메리카노
								Tall 1잔) </strong></span>
					<!---->
						<!---->
						<!---->
						<app-stamp _ngcontent-hxi-c249="">
						<span class="badge_finish badge_state">사용완료</span></app-stamp>
						<!---->
						<!----></a><!----><!----><!----><!----><!----><!----><!----><!----></gl-link>
					<div _ngcontent-hxi-c249="" class="info_sender">
						<span _ngcontent-hxi-c249="" class="txt_from">from.</span>민주누나
					</div>
					<div _ngcontent-hxi-c249="" class="date_receive">
						<span _ngcontent-hxi-c249="" class="screen_out">선물받은 날짜</span>2018.07.21<span
							_ngcontent-hxi-c249="" class="time_receive">오전 12:53</span>
					</div></li>
				<!---->
			</ul>
			<!---->
		</div>
		<!----><!----></cu-infinite-scroll><!----><!----><!----></app-inbox-infinite-gift>
	</div>
</body>
</html>