<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="common.css">
<style>
.global_spinner {
	z-index: 999999999;
	position: fixed;
	top: 45px;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
		url('https://t1.daumcdn.net/gift/common/global-spinner.gif');
	background-size: 80px 80px;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.5;
}

.pc .global_spinner {
	top: 0;
}

body {
	font-family: Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
	color: #333;
}

body {
	font-family: -apple-system, Apple SD Gothic Neo, sans-serif;
}

@font-face {
	font-family: ArialUnicodeMs;
	font-style: normal;
	font-weight: 400;
	src: local("ArialUnicodeMs"), local("arial-unicode-ms");
	src:
		url(https://st.kakaocdn.net/commerce_ui/static/fonts/aria-unicode-ms/arial-unicode-ms.woff)
		format("woff"),
		url(https://st.kakaocdn.net/commerce_ui/static/fonts/aria-unicode-ms/arial-unicode-ms.woff2)
		format("woff2");
}

body, div {
	margin: 0;
	padding: 0;
}

body {
	-webkit-text-size-adjust: none;
}

body {
	background: #fff;
}

body {
	font-size: 14px;
	line-height: 1.5;
	font-family: -apple-system, Apple SD Gothic Neo, sans-serif,
		ArialUnicodeMs;
	color: #000;
}

body, html {
	min-width: 320px;
}

body, html {
	width: 100%;
	height: 100%;
}

@media only screen and (device-width:375px) and (device-height:812px) and
		(-webkit-device-pixel-ratio:3) , only screen and (device-width:414px)
		and (device-height:896px) and (-webkit-device-pixel-ratio:3) , only
		screen and (device-width:414px) and (device-height:896px) and
		(-webkit-device-pixel-ratio:2) , only screen and (device-width:428px)
		and (device-height:926px) and (-webkit-device-pixel-ratio:3) , only
	screen and (device-width:390px) and (device-height:844px) and
	(-webkit-device-pixel-ratio:3) {
	body, html {
		min-height: 100vh;
	}
}

@media only screen and (device-width:375px) and (device-height:812px) and
		(-webkit-device-pixel-ratio:3) , only screen and (device-width:414px)
		and (device-height:896px) and (-webkit-device-pixel-ratio:3) , only
		screen and (device-width:414px) and (device-height:896px) and
		(-webkit-device-pixel-ratio:2) , only screen and (device-width:428px)
		and (device-height:926px) and (-webkit-device-pixel-ratio:3) , only
	screen and (device-width:390px) and (device-height:844px) and
	(-webkit-device-pixel-ratio:3) {
	body, html {
		min-height: 100vh;
	}
}

</style>
</head>
<body>
	<main _ngcontent-ltb-c77="" id="kakaoContent">
		<article _ngcontent-ltb-c77="" id="mArticle">
			<router-outlet _ngcontent-ltb-c77=""></router-outlet>
			<app-pw-home _nghost-ltb-c257="">
			<article _ngcontent-ltb-c257="" id="mArticle" data-tiara-layer="my">
				<h2 _ngcontent-ltb-c257="" class="screen_out">선물하기 위시 리스트</h2>
				<div _ngcontent-ltb-c257="" class="area_wshprofile">
					<app-profile _ngcontent-ltb-c257="" _nghost-ltb-c253="">
					<strong _ngcontent-ltb-c253="" class="screen_out">프로필</strong>
					<div _ngcontent-ltb-c253="" class="mask_outline">
						<div _ngcontent-ltb-c253="" class="thumb_outline">
							<img _ngcontent-ltb-c253="" cuimage="" class="img_g"
								src="https://p.kakaocdn.net/th/talkp/wleJEzm86e/wnQdhBEFZIKos4Gj9Zjii1/wvsip5_110x110_c.jpg">
						</div>
					</div>
					<strong _ngcontent-ltb-c253="" class="box_nick"><span
						_ngcontent-ltb-c253="" class="txt_nick"><span
							_ngcontent-ltb-c253="" class="txt_ellipsis">김시우</span>님의</span><br
						_ngcontent-ltb-c253=""> <span _ngcontent-ltb-c253=""
						class="txt_wshlist"><span _ngcontent-ltb-c253=""
							class="txt_g">위시리스트</span></span></strong>
					<button _ngcontent-ltb-c253="" type="button"
						class="btn_share custom_share_button">
						<span _ngcontent-ltb-c253="" class="ico_wishes ico_share">내
							위시리스트 공유하기</span>
					</button>
					</app-profile>
				</div>
				<app-wish-list _ngcontent-ltb-c257="" _nghost-ltb-c254="">
				<div _ngcontent-ltb-c254="" class="area_wshslist area_infowish">
					<!---->
					<div _ngcontent-ltb-c254="" class="box_infowish">
						<span _ngcontent-ltb-c254="" class="bg_choonsik"></span><strong
							_ngcontent-ltb-c254="" class="tit_infowish"> 위시리스트에<br
							_ngcontent-ltb-c254=""> 받고싶은 선물을 담아보세요~!
						</strong>
						<p _ngcontent-ltb-c254="" class="desc_infowish">
							선물 고민에 빠진 친구와, 소중한 나를 위해<br _ngcontent-ltb-c254=""> 내 취향에 맞는
							선물을 위시<span _ngcontent-ltb-c254="" class="ico_wishes ico_heart"></span>
							해보세요.
						</p>
					</div>
					<!---->
					<!---->
					<!---->
					<!---->
					<!---->
					<!---->
					<!---->
					<!---->
					<app-wish-recommend _ngcontent-ltb-c257="">
					<div class="area_wishrank">
						<strong class="tit_wishrank"> 마음에 드는 선물을<br> 바로 위시<span
							class="ico_wishes ico_heart"></span> 해보세요.
						</strong>
						<div class="wish_keyword">
							<div cukclviewablegroup="" class="group_wish_keyword">
								<a href="#none" class="link_keyword on"> 요즘 인기 </a><a
									href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiIxIiwidXNlcklkIjoiNjYwYjI2ZDNkYjk0OGM5ODY3YTZlYzUyYzRmZDE2MjIiLCJjYXRlZ29yeUlkTHYyIjoiMTA0MTA2MTAxIiwiY2F0ZWdvcnlOYW1lTHYxIjoi7IOd7ZmcL-ygnOyngC_snqHtmZQiLCJjYXRlZ29yeU5hbWVMdjIiOiLtg4jst6jsoJwv7KCc7Iq17KCcIn0"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220502121221_bc18069833ec4e6b9fba4050bd941724.jpg"></span>
									탈취제/제습제 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiIyIiwidXNlcklkIjoiNjYwYjI2ZDNkYjk0OGM5ODY3YTZlYzUyYzRmZDE2MjIiLCJjYXRlZ29yeUlkTHYyIjoiMTA0MTAzMTA3IiwiY2F0ZWdvcnlOYW1lTHYxIjoi7JqV7IukL-yyreyGjC_shLjsoJwiLCJjYXRlZ29yeU5hbWVMdjIiOiLssq3shozsmqntkogifQ"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220208132858_1815b894a49c41f7ba257be5da263899.jpg"></span>
									청소용품 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiIzIiwidXNlcklkIjoiNjYwYjI2ZDNkYjk0OGM5ODY3YTZlYzUyYzRmZDE2MjIiLCJjYXRlZ29yeUlkTHYyIjoiMTAyMTA1MTA1IiwiY2F0ZWdvcnlOYW1lTHYxIjoi7ZmN7IK8L-qxtOqwlS_ri6TsnbTslrTtirjsi53tkogiLCJjYXRlZ29yeU5hbWVMdjIiOiLqsbTqsJXquLDriqXsi53tkogifQ"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220704163018_2f97e996494b473db9a7c91df97577f7.jpg"></span>
									건강기능식품 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiI0IiwidXNlcklkIjoiNjYwYjI2ZDNkYjk0OGM5ODY3YTZlYzUyYzRmZDE2MjIiLCJjYXRlZ29yeUlkTHYyIjoiMTA0MTAyMTI1IiwiY2F0ZWdvcnlOYW1lTHYxIjoi7ZmIL-yduO2FjOumrOyWtC_qsIDrk5zri50iLCJjYXRlZ29yeU5hbWVMdjIiOiLsupTrk6Qv7JWE66Gc66eIL-uUlO2TqOyggCJ9"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220520130643_5302be0ac8c44d0cb1ae77f78d5891cf.jpg"></span>
									캔들/아로마/디퓨저 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiI1IiwidXNlcklkIjoiNjYwYjI2ZDNkYjk0OGM5ODY3YTZlYzUyYzRmZDE2MjIiLCJjYXRlZ29yeUlkTHYyIjoiMTA0MTA2MTA3IiwiY2F0ZWdvcnlOYW1lTHYxIjoi7IOd7ZmcL-ygnOyngC_snqHtmZQiLCJjYXRlZ29yeU5hbWVMdjIiOiLtlbTstqnth7TsuZgifQ"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220616191557_41538bff59944701bccd0434bc5d7a9d.jpg"></span>
									해충퇴치 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiI2IiwidXNlcklkIjoiNjYwYjI2ZDNkYjk0OGM5ODY3YTZlYzUyYzRmZDE2MjIiLCJjYXRlZ29yeUlkTHYyIjoiMTAxMTA3MTAzIiwiY2F0ZWdvcnlOYW1lTHYxIjoi7Iqk7YKo7LyA7Ja0L-uplOydtO2BrOyXhSIsImNhdGVnb3J5TmFtZUx2MiI6Iuq4sOy0iO2ZlOyepe2SiCJ9"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220519182109_8e1a5f5877c944c3b117d035a300f2f2.jpg"></span>
									기초화장품 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiI3IiwidXNlcklkIjoiNjYwYjI2ZDNkYjk0OGM5ODY3YTZlYzUyYzRmZDE2MjIiLCJjYXRlZ29yeUlkTHYyIjoiMTAzMTA3MTE0IiwiY2F0ZWdvcnlOYW1lTHYxIjoi7IOB7ZKI6raML2Xsv6Dtj7Av7ISc67mE7IqkIiwiY2F0ZWdvcnlOYW1lTHYyIjoi7Lm07Y6YL-ygnOqzvC_slYTsnbTsiqTtgazrprwifQ"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220107172532_8a6336605bf447bd8632fe6d72b8d7d9.jpg"></span>
									카페/제과/아이스크림 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiI4IiwidXNlcklkIjoiNjYwYjI2ZDNkYjk0OGM5ODY3YTZlYzUyYzRmZDE2MjIiLCJjYXRlZ29yeUlkTHYyIjoiMTAxMTAzMTAwIiwiY2F0ZWdvcnlOYW1lTHYxIjoi7Zal7IiYL-uwlOuUlC_tl6TslrQiLCJjYXRlZ29yeU5hbWVMdjIiOiLrsJTrlJTsvIDslrQifQ"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220715110733_2ea9401371ea4b0e8f368701bf2b1317.jpg"></span>
									바디케어 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiI5IiwidXNlcklkIjoiNjYwYjI2ZDNkYjk0OGM5ODY3YTZlYzUyYzRmZDE2MjIiLCJjYXRlZ29yeUlkTHYyIjoiMTAzMTAxMTA4IiwiY2F0ZWdvcnlOYW1lTHYxIjoi7J6Q64-Z7LCo7Jqp7ZKIIiwiY2F0ZWdvcnlOYW1lTHYyIjoi6rO16riw7LKt7KCV7Jqp7ZKIIn0"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220215090810_612eb1c5183a4a7bb207a50efa2a0917.jpg"></span>
									공기청정용품 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiIxMCIsInVzZXJJZCI6IjY2MGIyNmQzZGI5NDhjOTg2N2E2ZWM1MmM0ZmQxNjIyIiwiY2F0ZWdvcnlJZEx2MiI6IjEwMzEwNzExNSIsImNhdGVnb3J5TmFtZUx2MSI6IuyDge2SiOq2jC9l7L-g7Y-wL-yEnOu5hOyKpCIsImNhdGVnb3J5TmFtZUx2MiI6IuyZuOyLnS_tlITroIzssKjsnbTspogifQ"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20211116142439_3f7c46a144de45888ecea88a5d07111b.png"></span>
									외식/프렌차이즈 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiIxMSIsInVzZXJJZCI6IjY2MGIyNmQzZGI5NDhjOTg2N2E2ZWM1MmM0ZmQxNjIyIiwiY2F0ZWdvcnlJZEx2MiI6IjEwMzEwNzExOSIsImNhdGVnb3J5TmFtZUx2MSI6IuyDge2SiOq2jC9l7L-g7Y-wL-yEnOu5hOyKpCIsImNhdGVnb3J5TmFtZUx2MiI6Iu2XpOyWtC_rt7Dti7AifQ"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220111150424_0ff655bd308048f8947423fce10d2275.jpg"></span>
									헤어/뷰티 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiIxMiIsInVzZXJJZCI6IjY2MGIyNmQzZGI5NDhjOTg2N2E2ZWM1MmM0ZmQxNjIyIiwiY2F0ZWdvcnlJZEx2MiI6IjEwNDEwNjEwMCIsImNhdGVnb3J5TmFtZUx2MSI6IuyDne2ZnC_soJzsp4Av7J6h7ZmUIiwiY2F0ZWdvcnlOYW1lTHYyIjoi7IOd7Zmc7J6h7ZmUIn0"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220303102300_9cd6a9732f7841ae927ed775e502a96d.jpg"></span>
									생활잡화 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiIxMyIsInVzZXJJZCI6IjY2MGIyNmQzZGI5NDhjOTg2N2E2ZWM1MmM0ZmQxNjIyIiwiY2F0ZWdvcnlJZEx2MiI6IjEwMTEwMzEwNyIsImNhdGVnb3J5TmFtZUx2MSI6Iu2WpeyImC_rsJTrlJQv7Zek7Ja0IiwiY2F0ZWdvcnlOYW1lTHYyIjoi7ZW465OcL-2Si-y8gOyWtCJ9"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220713154454_62299fb6c78e44ad93f42a27ce9470e1.jpg"></span>
									핸드/풋케어 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiIxNCIsInVzZXJJZCI6IjY2MGIyNmQzZGI5NDhjOTg2N2E2ZWM1MmM0ZmQxNjIyIiwiY2F0ZWdvcnlJZEx2MiI6IjEwMTEwMzEwNCIsImNhdGVnb3J5TmFtZUx2MSI6Iu2WpeyImC_rsJTrlJQv7Zek7Ja0IiwiY2F0ZWdvcnlOYW1lTHYyIjoi7Zal7IiYIn0"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220609094039_ad3d9fa4abcf4e74b8a8dc73616a665a.jpg"></span>
									향수 </a><a href="#none" cuviewable="" class="link_keyword"
									data-vimp-id="eyJ2ZXJzaW9uIjoidjEiLCJzZXJ2aWNlIjoiZ2lmdCIsInRpbWVzdGFtcCI6MTY1ODA3ODgwODI2MSwiaW1wQ29kZSI6IjYiLCJpbXBJZCI6InRvcm9zX2dpZnRfY2F0ZWdvcnlfYWxwaGEiLCJwb3MiOiIxNSIsInVzZXJJZCI6IjY2MGIyNmQzZGI5NDhjOTg2N2E2ZWM1MmM0ZmQxNjIyIiwiY2F0ZWdvcnlJZEx2MiI6IjEwMzExMTEwMCIsImNhdGVnb3J5TmFtZUx2MSI6IuuPhOyEnC_snYzrsJgvRFZEIiwiY2F0ZWdvcnlOYW1lTHYyIjoi64-E7IScIn0"><span
									class="wrap_thumb"><img alt="" class="img_g"
										src="https://img1.kakaocdn.net/thumb/C48x48.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220712115353_23fa39d7a67248ca8b8bb2f49acf977b.jpg"></span>
									도서 </a>
								<!---->
							</div>
							<!---->
						</div>
						<!---->
						<div class="box_wishrank">
							<strong class="screen_out">위시리스트 랭킹</strong>
							<ol class="list_wishrank">
								<li><gl-link _nghost-ltb-c61=""><!----> <a
										_ngcontent-ltb-c61="" href="#none" class="link_wish"><div
											class="wrap_thumb">
											<img height="80" width="80" class="img_g"
												src="https://img1.kakaocdn.net/thumb/C150x150.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220602184319_1992c8d935e344a588b6563638f273de.jpg"
												alt="[특가] 인스탁스 미니11+디자인필름10매+2단앨범">
										</div>
										<div class="info_wish">
											<span class="num_rank">1<span class="screen_out">위</span></span><span
												class="txt_brand"><span class="screen_out">브랜드명
													:</span>인스탁스</span><strong class="tit_prdname"><span
												class="screen_out">상품명 :</span>[특가] 인스탁스 미니11+디자인필름10매+2단앨범</strong>
										</div> <!----></a><!----><!----><!----><!----><!----><!----><!----></gl-link>
									<button type="button" class="btn_wish">
										<span class="ico_wishes ico_wish">좋아요</span>
									</button></li>
								<li><gl-link _nghost-ltb-c61=""><!----> <a
										_ngcontent-ltb-c61="" href="#none" class="link_wish"><div
											class="wrap_thumb">
											<img height="80" width="80" class="img_g"
												src="https://img1.kakaocdn.net/thumb/C150x150.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2FBCnRSES86yRRnuV5bZBq_Q%2FvH3fmR20EttcOvhI9haPizHosXFZnhyCRlpk65ESsbI.jpg"
												alt="[4차예약판매]짱구 라인쿠션 유리토끼">
										</div>
										<div class="info_wish">
											<span class="num_rank">2<span class="screen_out">위</span></span><span
												class="txt_brand"><span class="screen_out">브랜드명
													:</span>누리토이즈</span><strong class="tit_prdname"><span
												class="screen_out">상품명 :</span>[4차예약판매]짱구 라인쿠션 유리토끼</strong>
										</div> <!----></a><!----><!----><!----><!----><!----><!----><!----></gl-link>
									<button type="button" class="btn_wish">
										<span class="ico_wishes ico_wish">좋아요</span>
									</button></li>
								<li><gl-link _nghost-ltb-c61=""><!----> <a
										_ngcontent-ltb-c61="" href="#none" class="link_wish"><div
											class="wrap_thumb">
											<img height="80" width="80" class="img_g"
												src="https://img1.kakaocdn.net/thumb/C150x150.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220218125157_3547fdd22d634445bad6f7a32d5c070f.jpg"
												alt="[예약판매] &quot;먹방 꿈나무&quot; New 춘식이 손잡이 앞접시 2P세트 (톡별)">
										</div>
										<div class="info_wish">
											<span class="num_rank">3<span class="screen_out">위</span></span><span
												class="txt_brand"><span class="screen_out">브랜드명
													:</span>프렌즈리빙LC</span><strong class="tit_prdname"><span
												class="screen_out">상품명 :</span>[예약판매] "먹방 꿈나무" New 춘식이 손잡이
												앞접시 2P세트 (톡별)</strong>
										</div> <!----></a><!----><!----><!----><!----><!----><!----><!----></gl-link>
									<button type="button" class="btn_wish">
										<span class="ico_wishes ico_wish">좋아요</span>
									</button></li>
								<li><gl-link _nghost-ltb-c61=""><!----> <a
										_ngcontent-ltb-c61="" href="#none" class="link_wish"><div
											class="wrap_thumb">
											<img height="80" width="80" class="img_g"
												src="https://img1.kakaocdn.net/thumb/C150x150.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20211105165653_b0c71262ca5a444c86672e9b5c7c3240.jpg"
												alt="&quot;오둥이 입니다만&quot; 오둥이 모찌 바디필로우 (톡별)">
										</div>
										<div class="info_wish">
											<span class="num_rank">4<span class="screen_out">위</span></span><span
												class="txt_brand"><span class="screen_out">브랜드명
													:</span>캐릭터침구</span><strong class="tit_prdname"><span
												class="screen_out">상품명 :</span>"오둥이 입니다만" 오둥이 모찌 바디필로우 (톡별)</strong>
										</div> <!----></a><!----><!----><!----><!----><!----><!----><!----></gl-link>
									<button type="button" class="btn_wish">
										<span class="ico_wishes ico_wish">좋아요</span>
									</button></li>
								<li><gl-link _nghost-ltb-c61=""><!----> <a
										_ngcontent-ltb-c61="" href="#none" class="link_wish"><div
											class="wrap_thumb">
											<img height="80" width="80" class="img_g"
												src="https://img1.kakaocdn.net/thumb/C150x150.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220624114535_e0ae514877b34747b8f609ec66740f97.jpg"
												alt="오로라 달 별 미러볼 무드등 조명 리모컨 포함(4가지 밝기/10가지 컬러 변경 가능)">
										</div>
										<div class="info_wish">
											<span class="num_rank">5<span class="screen_out">위</span></span><span
												class="txt_brand"><span class="screen_out">브랜드명
													:</span>헤이루미</span><strong class="tit_prdname"><span
												class="screen_out">상품명 :</span>오로라 달 별 미러볼 무드등 조명 리모컨 포함(4가지
												밝기/10가지 컬러 변경 가능)</strong>
										</div> <!----></a><!----><!----><!----><!----><!----><!----><!----></gl-link>
									<button type="button" class="btn_wish">
										<span class="ico_wishes ico_wish">좋아요</span>
									</button></li>
								<!---->
							</ol>
							<div class="paging_btn">
								<button class="btn_page">
									<span class="ico_wishes ico_prev">이전</span>
								</button>
								<span class="txt_page"><span class="screen_out">현재
										페이지</span><em class="emph_page">1</em><span class="screen_out">전체
										페이지</span> / 6 </span>
								<button class="btn_page">
									<span class="ico_wishes ico_next">다음</span>
								</button>
							</div>
							<!---->
						</div>
						<!---->
						<!---->
						<!---->
					</div>
					<!----></app-wish-recommend>
					<!---->
				</div>
				<!----></app-wish-list>
				<!---->
				<!---->
				<!---->
			</article>
			<!----><!----></app-pw-home>
			<!---->
		</article>
	</main>
</body>
</html>