<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>프로모션 : 선물하기</title>
<link rel="stylesheet" type="text/css" href="test.css">
</head>
<body>
	<div id="_body" class="gift_new">
		<div id="kakaoWrap" class="wrap_list">
			<hr class="hide">
						<!---->
						<div
							class="module_txtbnr module_txtbnr_bg1 ng-star-inserted">
							<div class="inner_module_txtbnr">
								<span class="badge_bnr">생일테마</span><strong
								 class="tit_bnr">감동을 높여줄 생일 선물
									리스트</strong>
								<p class="desc_bnr ng-star-inserted">예산에
									쏙쏙 맞춰 AI가 자동으로 추천드려요!</p>
								<!---->
							</div>
						</div>
						<!---->
							<div 
								class="module_wrapper module_tab_wrapper ng-star-inserted">
								<div  style="height: 0px;"></div>
								<div role="tablist" gl-sticky=""
									class="module_tab module_tab_category"
									style="top: auto; left: 0px; width: 1280px;">
									<!---->
									<div class="inner_tab ng-star-inserted">
										<div  class="wrap_rail_cate">
											<div class="rail_cate">
												<a  href="hbd.html"
													class="link_tab ng-star-inserted"><span
													 class="txt_tab">전체</span></a><a
													href="#none"
													class="link_tab ng-star-inserted"><span 
													class="txt_tab">1만원대</span></a><a 
													href="#none" 
													class="link_tab ng-star-inserted"><span 
													class="txt_tab">2만원대</span></a><a 
													href="#none"
													class="link_tab ng-star-inserted"><span
													class="txt_tab">3만원대</span></a><a 
													href="#none" 
													class="link_tab ng-star-inserted"><span
													class="txt_tab">4만원대</span></a><a
													href="#none"
													class="link_tab ng-star-inserted"><span
													class="txt_tab">5-9만원대</span></a><a 
													href="#none"
													class="link_tab ng-star-inserted"><span
													class="txt_tab">10만원이상</span></a>
												<!---->
											</div>
											<!---->
										</div>
									</div>
									<!---->
									<!---->
									<!---->
									<!---->
								</div>
							</div>
							<!---->
							<div class="module_wrapper">
								<div class="module_list module_list_type2 ng-star-inserted">

									<!---->
									<!---->
									<ul class="list_product scroll_hori ng-star-inserted">
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220609094039_ad3d9fa4abcf4e74b8a8dc73616a665a.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">조말론런던</em>
													<!----> <!---->
											<span class="screen_out">[선물포장] 바디 앤 핸드 워시 100ML</span>
											<strong class="tit_product">[선물포장] 바디 앤 핸드 워시 100ML</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">33,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220714180151_36fcea307e0d43cd8c017a27f98a3344.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">동아제약</em>
													<!----> <!---->
											<span class="screen_out">"명품 비타민" 오쏘몰 이뮨 멀티비타민&amp;미네랄 30일분 + 쇼핑백 증정</span>
											<strong class="tit_product">"명품 비타민" 오쏘몰 이뮨 멀티비타민&amp;미네랄 30일분 + 쇼핑백 증정</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">129,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220516142531_a971e5fd70b643a0952641a9562f67b1.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">농협안심한우</em>
													<!----> <!---->
											<span class="screen_out">농협안심한우 "고마워서 어찌하누"1등급 일품구이채반 1kg(등심+채끝+안심)</span>
											<strong class="tit_product">농협안심한우 "고마워서 어찌하누"1등급 일품구이채반 1kg(등심+채끝+안심)</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">109,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220503180849_603ae12601684d66a68b5a3f4587d599.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">굽네치킨</em>
													<!----> <!---->
											<span class="screen_out">고추바사삭+콜라1.25L</span>
											<strong class="tit_product">고추바사삭+콜라1.25L</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">20,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220518150446_947a008391e749c787c27ec6fabb9982.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">해라</em>
													<!----> <!---->
											<span class="screen_out">[단독/각인서비스] 헤라 센슈얼 쉬어 스테인 "미니쿠션 증정" (톡별)</span>
											<strong class="tit_product">[단독/각인서비스] 헤라 센슈얼 쉬어 스테인 "미니쿠션 증정" (톡별)</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">33,300
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20200403102550_66a76eacbee44835a42bd5a664a231b3">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">아웃백</em>
													<!----> <!---->
											<span class="screen_out">모바일 금액권 10만원권</span>
											<strong class="tit_product">모바일 금액권 10만원권</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">100,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220516192917_4396ae45ea0e4509b13437bad75b8268.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">디올</em>
													<!----> <!---->
											<span class="screen_out">[각인/선물포장] 립 글로우 ( +미스 디올 헤어 듀오 샘플 증정)</span>
											<strong class="tit_product">[각인/선물포장] 립 글로우 ( +미스 디올 헤어 듀오 샘플 증정)</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">47,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20211207104200_5b78d763630a4f4cb109df8225e21c71.png">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">CGV</em>
													<!----> <!---->
											<span class="screen_out">"팝콘먹다 손스침세트" 2D영화관람권 2매 + 고소팝콘L 1개 + 콜라M 2개</span>
											<strong class="tit_product">"팝콘먹다 손스침세트" 2D영화관람권 2매 + 고소팝콘L 1개 + 콜라M 2개</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out ng-star-inserted">할인률</span>
											<span class="txt_sale ng-star-inserted">8%</span>
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">31,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20211125165452_f27943eecfa340b084ea08778cc7d47e.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">정관장</em>
													<!----> <!---->
											<span class="screen_out">"에너지 선물" 정관장 활기력 20ml x 10병</span>
											<strong class="tit_product">"에너지 선물" 정관장 활기력 20ml x 10병</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">27,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220621153649_26caaab5d72643029dc4145ba4644d41.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">센트룸</em>
													<!----> <!---->
											<span class="screen_out">[센트룸] 멀티비타민 미네랄 구미(80구미)</span>
											<strong class="tit_product">[센트룸] 멀티비타민 미네랄 구미(80구미)</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">24,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20210914165131_70edddb11adf42b9990c00dbc256e159.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">정관장</em>
													<!----> <!---->
											<span class="screen_out">"에너지 선물" 정관장 활기력 에너지박스(20ml*20병) 특별한 선물 스탠드형</span>
											<strong class="tit_product">"에너지 선물" 정관장 활기력 에너지박스(20ml*20병) 특별한 선물 스탠드형</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">39,900
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220519182109_8e1a5f5877c944c3b117d035a300f2f2.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">가히</em>
													<!----> <!---->
											<span class="screen_out">[가히'천만다행'혜택 구성/선물포장]멀티밤+UV아쿠아밤</span>
											<strong class="tit_product">[가히'천만다행'혜택 구성/선물포장]멀티밤+UV아쿠아밤</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">39,300
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
									</ul>
								</div>
							</div>	
		
		
		</div>
	</div>
</body>
</html>