<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>프로모션 : 선물하기</title>
<link rel="stylesheet" type="text/css" href="test.css">
</head>
<body>
	<div id="_body" class="gift_new">
		<div id="kakaoWrap" class="wrap_list">
			<hr class="hide">
						<!---->
						<div
							class="module_txtbnr module_txtbnr_bg4 ng-star-inserted">
							<div class="inner_module_txtbnr">
								<span class="badge_bnr">건강/회복</span><strong
								 class="tit_bnr">건강 회복을 위한
									리스트</strong>
								<p class="desc_bnr ng-star-inserted">예산에
									쏙쏙 맞춰 AI가 자동으로 추천드려요!</p>
								<!---->
							</div>
						</div>
						<!---->
							<div 
								class="module_wrapper module_tab_wrapper ng-star-inserted">
								<div  style="height: 0px;"></div>
								<div role="tablist" gl-sticky=""
									class="module_tab module_tab_category"
									style="top: auto; left: 0px; width: 1280px;">
									<!---->
									<div class="inner_tab ng-star-inserted">
										<div  class="wrap_rail_cate">
											<div class="rail_cate">
												<a  href="hbd.html"
													class="link_tab ng-star-inserted"><span
													 class="txt_tab">전체</span></a><a
													href="#none"
													class="link_tab ng-star-inserted"><span 
													class="txt_tab">1만원대</span></a><a 
													href="#none" 
													class="link_tab ng-star-inserted"><span 
													class="txt_tab">2만원대</span></a><a 
													href="#none"
													class="link_tab ng-star-inserted"><span
													class="txt_tab">3만원대</span></a><a 
													href="#none" 
													class="link_tab ng-star-inserted"><span
													class="txt_tab">4만원대</span></a><a
													href="#none"
													class="link_tab ng-star-inserted"><span
													class="txt_tab">5-9만원대</span></a><a 
													href="#none"
													class="link_tab ng-star-inserted"><span
													class="txt_tab">10만원이상</span></a>
												<!---->
											</div>
											<!---->
										</div>
									</div>
									<!---->
									<!---->
									<!---->
									<!---->
								</div>
							</div>
							<!---->
							<div class="module_wrapper">
								<div class="module_list module_list_type2 ng-star-inserted">

									<!---->
									<!---->
									<ul class="list_product scroll_hori ng-star-inserted">
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220704163018_2f97e996494b473db9a7c91df97577f7.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">동아제약</em>
													<!----> <!---->
											<span class="screen_out">"명품 비타민" 오쏘몰 이뮨 멀티비타민&미네랄 7입 (동아제약 공식 직수입) +쇼핑백 증정</span>
											<strong class="tit_product">"명품 비타민" 오쏘몰 이뮨 멀티비타민&미네랄 7입 (동아제약 공식 직수입) +쇼핑백 증정</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">38,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220715083934_6cb400614c104a6ea8be4b40b3e0e4c9.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">정관장</em>
													<!----> <!---->
											<span class="screen_out">"면역력을 1포하라" 정관장 홍삼정에브리타임 밸런스(30일분)</span>
											<strong class="tit_product">"면역력을 1포하라" 정관장 홍삼정에브리타임 밸런스(30일분)</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">65,250
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20210914165131_70edddb11adf42b9990c00dbc256e159.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">정관장</em>
													<!----> <!---->
											<span class="screen_out">"에너지 선물" 정관장 활기력 에너지박스(20ml*20병) 특별한 선물 스탠드형</span>
											<strong class="tit_product">"에너지 선물" 정관장 활기력 에너지박스(20ml*20병) 특별한 선물 스탠드형</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">39,900
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20211125165452_f27943eecfa340b084ea08778cc7d47e.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">정관장</em>
													<!----> <!---->
											<span class="screen_out">"에너지 선물" 정관장 활기력 20ml x 10병</span>
											<strong class="tit_product">"에너지 선물" 정관장 활기력 20ml x 10병</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">27,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220517095030_3f2729417cae4279be3a27a52ae1919c.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">농협안심한우</em>
													<!----> <!---->
											<span class="screen_out">농협안심한우 소한마리 한우선물세트 1등급 1.4kg</span>
											<strong class="tit_product">농협안심한우 소한마리 한우선물세트 1등급 1.4kg</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">119,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220621153649_26caaab5d72643029dc4145ba4644d41.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">센트룸</em>
													<!----> <!---->
											<span class="screen_out">[센트룸] 멀티비타민 미네랄 구미(80구미)</span>
											<strong class="tit_product">[센트룸] 멀티비타민 미네랄 구미(80구미)</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">24,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220531160238_c7904336b97e45e287764176cb6071af.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">려원담</em>
													<!----> <!---->
											<span class="screen_out">[추천선물] "활력과 기력 필요한 당신" 6년근 홍삼 활기담 앰플 30병 (쇼핑백)</span>
											<strong class="tit_product">[추천선물] "활력과 기력 필요한 당신" 6년근 홍삼 활기담 앰플 30병 (쇼핑백)</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">50,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220713164433_79e116f6f4be436b8b15bed5d2c7dba4.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">센트룸</em>
													<!----> <!---->
											<span class="screen_out">[센트룸] 멀티비타민 6종 택1 (맨/우먼/칼슘+D/에너지B)+기프트박스 증정</span>
											<strong class="tit_product">[센트룸] 멀티비타민 6종 택1 (맨/우먼/칼슘+D/에너지B)+기프트박스 증정</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">27,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20211125165452_f27943eecfa340b084ea08778cc7d47e.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">정관장</em>
													<!----> <!---->
											<span class="screen_out">"에너지 선물" 정관장 활기력 20ml x 10병</span>
											<strong class="tit_product">"에너지 선물" 정관장 활기력 20ml x 10병</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">27,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20211110095146_c8eb6d0cce744aa2bb337555370ea4b9.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">수플린</em>
													<!----> <!---->
											<span class="screen_out">달콤한 애플망고 과일선물세트 1.8KG 이상 (4~5입/로얄과)</span>
											<strong class="tit_product">달콤한 애플망고 과일선물세트 1.8KG 이상 (4~5입/로얄과)</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">40,900
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20210914165131_70edddb11adf42b9990c00dbc256e159.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">정관장</em>
													<!----> <!---->
											<span class="screen_out">"에너지 선물" 정관장 활기력 에너지박스(20ml*20병) 특별한 선물 스탠드형</span>
											<strong class="tit_product">"에너지 선물" 정관장 활기력 에너지박스(20ml*20병) 특별한 선물 스탠드형</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">39,900
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
										<li class="ng-star-inserted">
											<a href="#none" class="link_product ng-star-inserted">
											<span class="wrap_img ng-star-inserted">
											<img class="img_g"
												 src="https://img1.kakaocdn.net/thumb/C276x276.fwebp.q82/?fname=https%3A%2F%2Fst.kakaocdn.net%2Fproduct%2Fgift%2Fproduct%2F20220711160555_beb08e5ae62d41518cfb3a7ad8c0e887.jpg">
											</span>
											<span class="product_detail ng-star-inserted"><span
													 class="screen_out ng-star-inserted">브랜드명</span><em
													 class="emph_brand ng-star-inserted">경복궁</em>
													<!----> <!---->
											<span class="screen_out">[복날 선물] [경복궁] 한우사골 실속세트 (한우사골 고기곰탕+사골육개장+한우사골곰탕)</span>
											<strong class="tit_product">[복날 선물] [경복궁] 한우사골 실속세트 (한우사골 고기곰탕+사골육개장+한우사골곰탕)</strong>
											<span class="price_product"> <!----> 
											<span class="screen_out">현재 가격</span>
											<span class="txt_price">30,000
											<span class="txt_won">원</span></span>
											</span></span> <!---->
											</a>
										</li>
									</ul>
								</div>
							</div>	
		
		
		</div>
	</div>
</body>
</html>