<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/Product.css}">
</th:block>
</head>
<body>
	<th:block layout:fragment="content">
	<input type="hidden" id="userId" th:value="${session.userId}">
	<input type="hidden" id="id" th:value="${product.id}">
		<div class="bg_color">
			<div class="devideContainer"></div>
			<div class="productContainer">
				<div class="productSubContainer">
					<div class="product_info">
						<div class="img_view_box">
							<img th:src="|/upload/${product.id}|" width="100%" height="100%"/>

						</div>
						<div class="productInfo">
							<div class="nameCategory">
								<div class="productName">
									<input class="productName" name="productName"
										th:value="${product.productName}" readonly>
								</div>
								<div class="productCategory">
									<input class="productCategory" name="productCategory"
										th:value="${product.productCategory}" readonly>
								</div>
							</div>
							<div class="priceCeller">
								<div class="startPrice">
									<input id="startPrice" class="startPrice" name="productPrice"
										th:value="${product.productPrice} + 원"
										readonly>
								</div>
								<div class="productCeller">
									<!-- 에러날 경우 input 태그 사용 -->
									판매자 : <a class="cellerName" href="#">${product.users.userId}</a>
								</div>
							</div>
							<!-- 카운트다운 박스 -->
							<div class="deadLineBox">
								<input type="hidden" id="endDate" class="endDate" name="endDate"
									th:value="${product.endDate}" readonly>
								<!-- 								<input type="text" id="period" class="period" name="period" th:value="${product.cellPeriod}" readonly> -->
								<div class="time">
									<span class="day"></span><span class="col days">일&nbsp;</span> <span class="hours"></span><span class="col days">시&nbsp;
									</span><span class="minutes"></span><span class="col days">분&nbsp;</span> <span class="seconds"></span><span class="col days">초</span>
								</div>
							</div>
							<form method="post" th:action="@{/updatePrice/}+${product.id}" id="new_price" name="new_price">
								<div class="currentPrice_form">
									<div class="currentPrice">입찰 금액</div>
									<div class="currentPriceBox">
										<div class="checkPrice">
											<input id="checkPrice" class="checkPrice" name="checkPrice"
												th:value="${product.productPrice}" readonly>
										</div>
									</div>
									<div class="priceBtn">
										<button type="button" class="one_btn btn_group" name="price1"
											th:value=1000
											th:onclick="checkPrice.value=parseInt(checkPrice.value)+parseInt(price1.value)">+
											₩1000</button>
										<button type="button" class="five_btn btn_group" name="price2"
											th:value=5000
											th:onclick="checkPrice.value=parseInt(checkPrice.value)+parseInt(price2.value)">+
											₩5000</button>
										<button type="button" class="ten_btn btn_group" name="price3"
											th:value=10000
											th:onclick="checkPrice.value=parseInt(checkPrice.value)+parseInt(price3.value)">+
											₩10000</button>
										<button type="reset" class="reset_btn btn_group">Reset</button>
									</div>
								</div>
								<div class="bid_btnGroup">
									<button type="button" class="bid_btn btn_group2"
										th:onclick="chk_price()">입찰하기</button>
								</div>
							</form>
							<div class="func_btn">
								<button type="button" class="likeList_btn btn_group2">찜
									목록</button>
								<button type="button" id="like_btn" class="like_btn btn_group2"
									th:onclick="imgToggle()">
									<div class="like_line">
										<img id="like_off" th:src="@{img/likeoff.png}">
										 <span th:text="${likeCnt}"></span>
									</div>
								</button>
							</div>
						</div>
					</div>
					<div>
						<!-- 판매자정보 -->
					</div>
					<div class="productEx_body">
						<div class="productEx_title">상세설명</div>
						<div class="productEx_contents">
							<textarea id="productText" class="productText" name="productText"
								th:text="${product.productText}" readonly></textarea>
						</div>
					</div>
					<div class="list_btn_box">
						<button type="button" class="productList" th:onclick="|location.href='@{/productList}'|">목록</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="script">
		<script type="text/javascript" th:src="@{/js/product.js}"></script>

	</th:block>
</body>
</html>