@charset "UTF-8";

.speech-bubble-wrapper::-webkit-scrollbar {
    display: none;
}
.speech-bubble-wrapper{
	position: absolute;
	top: 57px;
	display: none;
	border: none;
	box-shadow: 5px 6px 12px -11px rgba(0,0,0,0.75);
	width: 300px;
	height: 280px;
	overflow: scroll;
	background: white;
}
.search-result{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #bebebe;
	display: flex;
	align-items: center;
}
.search-result-name{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	height: 30px;
	font-size: 13px;
	font-weight: lighter;
	padding-left: 5px;
}
header{
	width: 1280px;
	height: 130px;
	position: fixed;
	z-index: 9999;
	background: white;
	opacity: 90%;
}
.fa-brands{
	font-size: 50px;
}
.logo-name{
	font-size: 30px;
	font-weight: bold;
}
.nav-search{
	width: 300px;
	height: 25px;
	border-bottom: 2px solid black;
	display: flex;
	align-items: center;
}
.nav-search-bar{
	border: none;
	width: 275px;
	outline: none;
	font-weight: bold;
	font-size: 15px;
}
.fa-solid{
	padding-left: 10px;
}
.nav-user{
	display: flex;
}
.nav-user li a{
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
.nav-user-sell{
	border-radius: 5px;
	background: black;
}
.nav-user-sell a{
	color: white;
}
.nav-main-menu{
	padding-top: 20px;
}
.main-menu{
	display: flex;
	justify-content: space-between;
}
.main-menu li{
	font-size: 20px;
	font-weight: bold;
}
.main-menu li a:hover{
	border-bottom: 2px solid #282828;
}