@charset "UTF-8";

/* 공통 적용 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	width: 1280px;
}
.nav-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}
a{
	text-decoration: none;
	color: black;
}
ul{
	list-style: none;
}

/* 섹션 슬릭슬라이더 배너 */
.banner{
	padding-top: 150px;
	padding-bottom: 50px;
	background: white;
}
.slick-arrow{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: 0;
	width: 48px;
	height: 48px;
	text-indent: -9999px;
	cursor: pointer;
}
.slick-prev{
	z-index: 10;
	background: url("https://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/br_prev.png");
}
.slick-next{
	right: 0;
	background: url("https://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/br_next.png");
}

/* 인기상품 목록 */
article{
	padding-top: 50px;
	padding-bottom: 100px;
	background: white;
}
.most-people-wanted{
	width: 100%;
	height: 30px;
	padding-bottom: 50px;
	background: white;
}
.most-people-wanted-title{
	text-align: center;
	font-size: 32px;
	display: inline-block;
}
.division{
	width: 513px;
	display: inline-block;
}
.popular-product:nth-child(2n), .popular-product-menu:nth-child(2n){
	margin-left: 20px;
	float: right;
}
.popular-product{
	display: inline-block;
	width: 350px;
	height: 600px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 7px 7px 13px -4px rgba(0,0,0,0.75);
}
.popular-product-list:hover{
	cursor: pointer;
	opacity: 80%;
}
.popular-product:nth-child(4):hover, .popular-product:nth-child(8):hover{
	cursor: pointer;
	opacity: 80%;
	transform: translateX(-7px);
	transition: all 1s;
}
.popular-product:nth-child(1):hover, .popular-product:nth-child(5):hover, .popular-product:nth-child(9):hover{
	cursor: pointer;
	opacity: 80%;
	transform: translateX(7px);
	transition: all 1s;
}
.popular-product:nth-child(1){
	background-image: url("https://www.ledressingideal.fr/le-total-look-blanc-en-hiver/styleoncue/");
}
.popular-product:nth-child(4){
	background-image: url("https://i.pinimg.com/564x/bd/07/60/bd076083835c892ea4693b941683d003.jpg");
}
.popular-product:nth-child(5){
	background-image: url("https://i.pinimg.com/564x/85/e8/10/85e8103f23a4fa6b6e82842c0cbfc921.jpg");
}
.popular-product:nth-child(8){
	background-image: url("https://i.pinimg.com/564x/c4/06/c6/c406c6ba72e8ce38f4c8892f5daecfcf.jpg");
}
.popular-product:nth-child(9){
	background-image: url("https://i.pinimg.com/564x/72/67/93/7267934020b24bdaed22a085cdd3f0ad.jpg");
}
.popular-product-title{
	font-size: 40px;
	position: absolute;
	top: 20px;
	left: 20px;
	font-family: 'Cormorant SC', serif;
}
.fashion-beauty{
	color: black;
}
.popular-product-menu{
	width: 900px;
	height: 600px;
	display: inline-block;
	margin-bottom: 100px;
}
.active{
	opacity: 0;
}
.menu-opacity-control{
	transition: all 2s;
}
.popular-product-list{
	width: 280px;
	height: 282px;
	display: inline-block;
	margin: 7px;
	text-align: center;
}
.popular-product-img{
	width: 200px;
	height: 200px;
}
.popular-product-name{
	font-weight: bold;
}
.popular-product-name, .popular-product-about, .popular-product-price{
	border: 1px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 26px;
	font-size: 14px;
}