@charset "UTF-8";
/* css 
	css 관련
	m : modal 관련
	p : padding 관련
	bg: background 관련
	b : border 관련
	mg : margin 관련
	w: width 관련
	f: font 관련
	btn : button 관련
*/


.sw_close{
		background:none;
		border:none;
	}
	.sw_m{
		position:fixed;
		top:0;
		left:0;
		z-index: 1050;
		display:none;
		width:100%;
		height:100%;
		overflow:hidden;
		outline:0;
	}
	.sw_d-block{
		display: block!important;
	}	
	.sw_position{
		position: static!important;	
	}
	.sw_p1{
		padding-top: 3rem!important;
		padding-bottom: 3rem!important;
	}
	.sw_bg{
		background-color: #dee2e6;
	}
	
	.sw_dialog{
		position: relative;
		width: auto;
		margin: 0.5rem;
		pointer-events: none;
		max-width: 500px;
		margin:1.75rem auto;
	}
	
	.sw_shadow{
		box-shadow: 0.5rem 1rem rgba(0,0,0,.15)!important;;
	}
	
	.sw_m-header{
		display: flex;
    	align-items: flex-end;
    	justify-content: space-between;
	}
	
	.sw_m-content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color:#fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 0.3em;
		outline: 0;
	}
	.sw_m-content2 {
		position: relative;
   		display: flex;
   		flex-direction: column;
    	width: 100%;
    	pointer-events: auto;
    	background-color: #fff;
    	background-clip: padding-box;
    	border: 1px solid rgba(0,0,0,.2);
    	border-radius: 0.3em;
    	outline: 0;
    	height: 100%
	}
	
	.sw_b1{
		border-bottom:0!important;
	}
	
	.sw_p2{
		padding: 3rem!important;
	}
	
	.sw_p3{
		padding-bottom: 1.5rem!important;
	}
	
	.sw_mg1{
		margin-bottom: 0!important;
	}
	
	.sw_f1{
		font-weight: 700!important;
	}
	
	.sw_m2{
		position: relative;
		flex: 1 1 auto;
		padding: 1rem;
	}
	
	.sw_p4{
		padding: 3rem!important;
		padding-top: 0!important;
	}
	
	.sw_form-floating{
		position: relative;
	}
	
	.sw_mg2{
		margin-bottom: 1rem!important;
	}
	
	.sw_check {
	    width: 8rem!important;
	    height: 3rem!important;
	    align-self: center;
	    margin-left: 0.8rem;
	    font-size: 1.2rem;
	    background-color: #000000;
	    border: none;
	    color: #ffffff;
	}
	
	.sw_h3{
		margin: auto;
	}
	
	.sw_emailCheck {
	    width: 8rem;
	    height: 4.6rem;
	    align-self: center;
	    background: #f8f9ff;
	    font-size: 1.2rem;
	    border: none;
	}
	
	#sw_idcheck{
		display:flex;
		justify-content: space-between;
	}
	
	#sw_email{
		display:flex;
		justify-content: space-between;
	}
	
	.sw_form-floating>label{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
	}
	
	.sw_btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
	}
	
	.sw_btn-primary {
    color: #fff;
	}
	
	.sw_btn-group-lg>.sw_btn, .sw_btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
	}
	
	#sw_btnColor{
	background-color : black;
	}
	
	#sw_agree{
		font-weight : bold;
	}
	
	.sw_w1 {
    width: 100%!important;
	}
	
	.sw_w2 {
    width: 90%!important;
	}
	
	.sw_mg3 {
    margin-bottom: 0.5rem!important;
	}
	
	.sw_f-size {
    font-size: 1.25rem!important;
	}
	
	input.sw_floating{
		position:relative;
		display:block;
		border:none;
		width:100%;
		margin: 0.8rem auto;
		padding:2.2rem 1rem 1rem 1rem;
		font-size:inherit; 
		color:#3b3b3b;
		background-color:#f8f9ff;
		border-radius:2px;
	}

	.sw_etc{
		display:flex;
		justify-content: space-between;

	}
	
	#sw_mp-etc{
		margin: 0 0 0 8rem;
		padding: 0;
	}

input.sw_floating::placeholder{}font-weight:normal; color: #d4d9e0;}

	input.sw_floating + lable{
		display:block;
		position:absolute; 
		top: 0.7rem; 
		left:0.8rem;
		text-align:left;
		font-weight:bold;
		font-size:0.7rem;
		color:#0073cc;
		transition:all 0.25s;	
	}
	
	input.sw_floating:focus + label{color:#7b7b7b;}
	
	input.sw_floating:placeholder-shown:not(:focus) + *,
	div.sw_UI div select:placeholder-shown:not(:focus)+
	*{
	font-size:1.3rem;
	top:0.5rem;
	left:1rem;
	opacity:1;
	}
	
	.sw_m-header>h2{
		text-align:center;
	}
	
	#sw_textColor{
		color: #7b7b7b;
	}
	
	.olmessagef {color: red; font-style: Italic;}
	.olmessaget {color: blue; font-style: Italic;}
	
	
	
.sw_wrap {
	margin: auto;
}

.sw_wrap .sw_logo {
	text-align: center;
	margin-bottom: 10px;
}

.sw_wrap .sw_logo h1 {
	margin: 0;
	font-size: 50px;
}

.sw_wrap .sw_contents {
	padding: 50px;
	background-color: #ffffff;
	border: 1px solid #dadada;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
}

#form_sw_wrap {
	margin: 0 auto;
	width: 460px;
	font-size: 14px;
}

#form_sw_wrap .sw_terms {
	display: flex;
	margin-bottom: 35px;
}

.sw_checkAll {
	text-decoration: underline;
}

 #sw_allAgree{
	margin-left: 8px;
}

.sw_termsList .sw_termsBox {
	margin: 20px 0;
}

.sw_contents label {
	font-weight: 700;
}

label.sw_required::after {
	margin-left: 4px;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #0086ff;
	content: "(필수)";
}

.sw_termsList .sw_termsContent {
    height: 7rem;
    overflow: auto;
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #dadada;
    background: #fff;
    font-size: 12px;
}

.sw_next-button {
	width: 100%;
	height: 40px;
	outline: none;
	cursor: pointer;
	background-color: #242222;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	transition-duration: 0.2s;
}

.sw_next-button:hover:enabled {
	background-color: #a3a2a2;
}

.sw_next-button:disabled {
	opacity: 0.2;
	cursor: not-allowed;
}

@media ( max-width : 768px) {
	.sw_wrap {
		min-width: 280px;
		padding: 20px;
	}
	#form_sw_wrap {
		max-width: 460px;
		width: auto;
	}
}
	
	
	