@charset "UTF-8";

html{
	background-color: #f6f6f8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.contents_wrap_ky{
	background-color: white;
	padding-top: 50px;
}


/* 상품 목록 */
.productList_header{
	padding-top: 150px;
	width: 100%;
	height: 30px;
	padding-bottom: 50px;
}
.category_name{
	text-align: center;
	font-size: 32px;
	display: inline-block;
	position: absolute;
	background-color: white;
	top: 170px;
	left: 650px;
	transform: translate(10px, 10px);
	padding: 10px;
	
}
.category_line{
	width: 100%;
	display: inline-block;
	position: relative;
	border: 2px solid black;
}
.product_sort{
	text-align: right;
	margin-right: 50px;
}

.productList_contents{
	display: inline-block;
	width: 350px;
	height: 600px;
	position: relative;
}
/* .productList_contents:hover{ */
/* 	cursor: pointer; */
/* 	opacity: 80%; */
/* } */

.productList_contents{
	width: 100%;
	height: 600px;
	display: inline-block;
 	margin-bottom: 60px; 
}
.product_wrap{
	text-align: center;
	padding-bottom: 30px;
	background-color: #fff;
}
.productList_contents_list{
	border: 1px solid gray;
	width: 280px;
	height: 282px;
	display: inline-block;
	margin: 7px;
	text-align: center;
}

.productList_contents_list:hover{
	cursor: pointer;
}
.productList_contents_img{
	width: 200px;
	height: 200px;
}
.productList_contents_name, .productList_contents_about, .productList_contents_price{
	border-top: 1px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 26px;
	font-size: 14px;
}
.popularity_ranking_button{
	margin-right: -4px;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.latest_order_button{
	margin-left: -3px;
	margin-right: -4px;
}
.closing_order_button{
	margin-left: -3px;
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.product_sort button{
	border: 1px solid black;
	background-color: black;
	color: white;
	padding: 5px;
}
.product_sort button:hover{
	color:black;
	background-color: white;
}