<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="configFragment">
	<head>
	<meta charset="UTF-8">
	<title>Auction</title>
	
	<!-- 헤더, 푸터 CSS-->
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	
	<!-- 홈페이지 상단 파비콘 -->
	<link rel="shortcut icon" type="image/x-icon" href="https://cdn3.iconfinder.com/data/icons/remixicon-finance/24/auction-line-128.png">
	
	<!-- 제이쿼리 스크립트 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
	<!-- 폰트어썸 스크립트 -->
	<script src="https://kit.fontawesome.com/30ff607ddb.js" crossorigin="anonymous"></script>
	</head>
</th:block>

</html>