<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
	<div class="footer-pusher"></div>
	<div class="footer-show">
		<div class="footer-wrapper">
			<div class="footer-main">
				<div class="footer-main-title">
					<div class="footer-main-title-top">
						<div class="footer-site-map-wrapaper">
							<div class="footer-site-map-menu">
								<h3>WHO WE ARE</h3>
								<div>Company</div>
								<div>Community</div>
								<div>Careers</div>
								<div>Teams of Use</div>
							</div>
							<div class="footer-site-map-menu">
								<h3>SUPPORT</h3>
								<div>Knowledge Base</div>
								<div>Tutorials</div>
								<div>Guides</div>
								<div>Video</div>
							</div>
							<div class="footer-site-map-menu">
								<h3>PRODUCTS</h3>
								<div>Dreamy App</div>
								<div>Dreamy Desktop</div>
								<div>Dreamy Cloud</div>
							</div>
							<div class="footer-site-map-subscribe">
								<h3>SUBSCRIBE</h3>
								<span>Enter your email to get notified about our new
									solutions</span>
								<div class="footer-email-button">
									Email<i class="fa-solid fa-envelope"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-main-title-bottom">
						<div class="footer-company-mini-info">
							<span class="footer-company-mini-info-left">24 Atlantic
								Ave, Brooklyn, NY 2011</span> <span
								class="footer-company-mini-info-right">ⓒ2016 Dreamy Inc.
								All rights reserved</span>
							<div class="footer-company-mini-info-cards">
								<i class="fa-brands fa-cc-paypal"></i> <i
									class="fa-brands fa-cc-visa"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-main-contents">
					<div class="footer-main-contents-wrapper">
						<div class="footer-main-contents-logo">
							<i class="fa-brands fa-artstation"></i> <a href="#">uction</a>
						</div>
						<div class="footer-main-contents-info">
							<span>APPS</span> <span>REVIEWS</span> <span>ADVENTURE</span> <span>LIFESTYLE</span>
						</div>
						<div class="footer-main-contents-sns">
							<i class="fa-brands fa-facebook"></i> <i
								class="fa-brands fa-twitter"></i> <i
								class="fa-brands fa-instagram"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</html>