<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>header</title>
</head>
<body>
	<th:block th:fragment="headerFragment">
		<header>
			<nav class="nav-top">
				<div class="nav-logo">
					<i class="fa-brands fa-artstation"></i>
					<a class="logo-name" href="#">uction</a>
				</div>
				<div class="nav-search">
					<input id="nav-search-bar" class="nav-search-bar" type="text" spellcheck="false" maxlength="30">
					<a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
				<div id="speech-bubble-wrapper" class="speech-bubble-wrapper">
					<!-- 나중에 검색을 안했을땐 랭킹 or 이름순 검색 시 해당 검색 문자가 포함된 수만큼 반복 -->
					<th:block th:each="num: ${#numbers.sequence(1,10)}">
						<div class="search-result">
							<div class="search-result-name"><a href="#">상품 이름</a></div>
						</div>
					</th:block>
				</div>
				</div>
				<ul class="nav-user">
					<li><a href="#" th:onclick="|location.href='@{/login}'|">로그인</a></li>
					<li><a href="#" th:onclick="|location.href='@{/agree}'|">회원가입</a></li>
					<li><a href="#">고객센터</a></li>
					<li id="sellItems" class="nav-user-sell"><a href="#">판매하기</a></li>
				</ul>
			</nav>
			<nav class="nav-main-menu">
				<ul class="main-menu">
					<li><a href="#">Fashion & Beauty</a></li>
					<li><a href="#">Furniture & Electronic</a></li>
					<li><a href="#">Game & Hobby</a></li>
					<li><a href="#">Sports & Car</a></li>
					<li><a href="#">Book & ETC</a></li>
				</ul>
			</nav>
		</header>
	</th:block>
</body>
</html>